/* todo: host fonts locally */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@400;500;700&display=swap");

@import "$styles/variables.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  font-family: var(--font-stack);
  border: none;
  outline: none;
}

input {
  font-family: var(--font-stack);
  border: none;
  outline: none;
}

ol,
ul {
  list-style-type: none;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

button,
input {
  width: fit-content;
  white-space: nowrap;
  padding: 0.5rem 0.8rem;
  border-radius: 1rem;

  background-color: var(--color-secondary);
  border: 2px solid var(--color-grey-light);

  text-align: center;
  color: var(--font-color-secondary);
  font-size: 1rem;
}
button:hover,
input:hover {
  filter: brightness(1.2);
}
button:active {
  filter: brightness(1.3) !important;
}
