@layer base {
  button {
    --button-bg: var(--color-grey-dark);
    --button-color: var(--font-color-primary);
    --button-icon-color: var(--font-color-primary-filter);
    --button-hover-bg: var(--button-bg);

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    gap: 8px;

    cursor: pointer;
    border: none;
    outline: none;
    background-color: var(--button-bg);
    color: var(--button-color);

    font-family: var(--font-stack);
    font-size: 1rem;

    width: fit-content;
    height: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;

    &:hover {
      background-color: var(--button-hover-bg);
      filter: brightness(1.2);
    }

    &:active {
      filter: brightness(1.4) !important;
    }

    & > img {
      height: 1.2rem;
      filter: var(--button-icon-color);
    }
  }

  button.redHover {
    &:hover {
      --button-hover-bg: var(--color-red);
      --button-color: var(--font-color-secondary);
      --button-icon-color: var(--font-color-secondary-filter);
    }
  }

  button.green {
    --button-bg: var(--color-green-dark);
    --button-color: var(--font-color-secondary);

    & > img {
      filter: var(--font-color-secondary-filter);
    }
  }

  button.blue {
    --button-bg: var(--font-color-blue);
    --button-color: var(--color-black);
  }

  button.roundIcon {
    width: 1rem;

    --button-bg: transparent;
    --button-hover-bg: rgba(255, 255, 255, 0.05);
  }
}
