dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  --min-width: 250px;
  width: max(18vw, var(--min-width));
  border: none;
  border-radius: 16px;

  font-family: var(--font-stack);
  color: var(--font-color-primary);
  background-color: var(--color-secondary);

  &::backdrop {
    background: rgba(0, 0, 0, 0.6);
  }
}

form {
  display: flex;
  flex-direction: column;

  padding: 16px;
}

header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-items: center;
  align-items: center;

  & > button {
    justify-self: end;
    width: 1rem;

    background-color: transparent;

    &:hover {
      background-color: rgba(255, 255, 255, 0.05);
    }
  }
}

h2 {
  grid-column: 2 / 3;
  font-size: 1.2rem;
}

label {
  padding: 8px 16px;
  font-size: 0.9rem;
}

input,
textarea {
  padding: 16px;
  font-size: 1rem;

  border: 2px solid var(--color-grey-light);
  border-radius: 4px;

  background-color: var(--color-primary);
  color: var(--font-color-secondary);

  resize: none;

  &:focus {
    border: 2px solid var(--font-color-blue);
  }
}

p {
  height: 3rem;

  padding: 8px 16px;
  font-size: 0.8rem;
  color: var(--font-color-red);
}

.submit {
  align-self: center;
  width: 100%;

  background-color: var(--font-color-blue);
  color: var(--color-black);
}
